input[type="text"] {
  background-color: red;
  width: 600px;
  margin-bottom: 20px;
}

label[for="nombre"]{
  color: #ff0010;
}

input[type="email"] {
  background-color: green;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
}

label[for="email"]{
  color: blue;
  background-color: purple;
}

#poblacion {
  color: yellow;
  background-color: green;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type="checkbox"] {
  height: 60px;
  width: 60px;
  background-color: pink;
  margin-bottom: 20px;
  border-radius: 5px;
}


a:hover{
  color: green;
  font-size:50px;
  cursor: not-allowed;
}

input:disabled{
  background: #ccc;
}

input:required {
  border: 1px dashed red;
}
